spring:
  application:
    name: jutjubic

  datasource:
    url: jdbc:postgresql://localhost:5432/jutjubic
    username: postgres
    password: root

  jpa:
      hibernate:
        ddl-auto: update
      show-sql: true
      properties:
        hibernate:
          format_sql: true

server:
  port: 8080
